<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../templates/head") %>
</head>

<body>
  <%- include("../../templates/nav") %>

  <section id="home-content" class="container">
    <div class="my-5">
      <div class="align-items-center d-flex justify-content-between mt-5 mb-4">
        <h3>Detail</h3>
      </div>
      <div class="d-flex">
        <div>
          <img class="border mb-3" width="350"
            src="/uploads/<%= product.img %>"
            alt="product"
            onerror="this.onerror=null;this.src=`https://cdn.discordapp.com/attachments/940834033825349653/1124969380489470022/noimage.jpg`;" />
        </div>
        <div class="ms-5">
          <h5><%= product.merk %></h5>
          <h2><%= product.name %></h2>
          <p class="h6 my-4">Availability: <%= product.available %></p>
          <p class="h5">Rp <%= product.price %></p>
          <p class="my-4">Hurry up! Only <%= product.qty %> product left in stock!</p>
          <p><%= product.desc %></p>
        </div>
      </div>
    </div>
  </section>

  <%- include("../../templates/script") %>

</html>